:host {
  display: block;
}

.todo-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 16px;
  align-items: center;
  padding: 8px 0;
}

.todo-edit-item {
  padding: 16px 0;
}

input {
  display: none;
}

.check-label {
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #898989;
  border-radius: 3px;
  transition: border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.check-label.disabled {
  opacity: 0.5;
}

.check-label.checked {
  text-align: center;
  border: 1px solid #3b88fd;
  background: #3b88fd;
  color: #fff;

  &::after {
    content: '✔';
    line-height: 24px;
  }
}

button {
  padding: 8px;
  background: transparent;
  border: none;
  font-size: 16px;
  line-height: 1;
  color: #898989;
  outline: none;
  cursor: pointer;
  transition: color 0.1s ease-in-out;

  &:hover,
  &:focus {
    color: #000;
  }

  &:disabled {
    opacity: 0.5;
    color: #898989;
    cursor: default;
  }
}

article {
  color: #333333;
}

article.completed {
  opacity: 0.2;
  text-decoration: line-through;
}

h2 {
  font-size: 20px;
  line-height: 28px;
}
