
<div class="todo-item">
  <input [id]="todo.id" type="checkbox" [(ngModel)]="todo.completed" [disabled]="editMode" />
  <label [for]="todo.id" class="check-label" [class.checked]="todo.completed" [class.disabled]="editMode" [attr.aria-label]="todo.completed ? 'Select to uncheck' : 'Select to check'"></label>
  <article [class.completed]="todo.completed" (dblclick)="editTodo(todo.id)" *ngIf="!editMode">
    <h2>{{ todo.title }}</h2>
    <p>{{ todo.text }}</p>
  </article>
  <div *ngIf="editMode">
    <app-todo-edit-item
      [todo]="todo"
      (save)="updateEvent($event)"
      (cancel)="cancelEdit()"
    ></app-todo-edit-item>
  </div>
  <button type="button" (click)="deleteTodo()" aria-label="Delete todo item" *ngIf="!editMode">✕</button>
</div>

